DB_USER=salon_user
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432
DB_NAME=salon_db

CLIENT_BOT_TOKEN=your_client_bot_token
MASTER_BOT_TOKEN=your_master_bot_token
SUPPORT_BOT_TOKEN=your_support_bot_token
ADMIN_IDS=123456789,987654321
